<footer>
    <h2>Conéctate con nosotros</h2>
    <p>&copy; 2025 Octavio Montero Oliva. Todos los derechos reservados</p>
    <p>IES Los Alcores. 2ª CFGS DAW (Desarrollo Web Entorno Cliente)</p>
    <div class="social-links">
        <a href="https://www.facebook.com/octavio.monterooliva" target="_blank">
            <i class="fa fa-facebook"></i> <!-- Icono de Facebook -->
        </a>
        <a href="https://x.com/iOctavio4" target="_blank">
            <i class="fa fa-twitter"></i> <!-- Icono de Twitter -->
        </a>
        <a href="https://www.instagram.com/octmonoli" target="_blank">
            <i class="fa fa-instagram"></i> <!-- Icono de Instagram -->
        </a>
        <a href="https://es.linkedin.com/in/octaviomo90" target="_blank">
            <i class="fa fa-linkedin"></i> <!-- Icono de LinkedIn -->
        </a>
    </div>
</footer>